<main class="intro">
    <div class="intro__text-container">
        <div class="title-container">
            <h2>Pedro Henrique Costa</h2>
    
            <h3>Web Developer</h3>
        </div>
        
        <p class="intro__text-container__activity">Currently working on this portfolio website!</p>
        
        <form action="/projects#current-project">
            <button type="submit" class="intro__text-container__info-button">View Project</button>
        </form>
    </div>
    
    <img class="intro__project-screenshot" src="../../assets/PortfolioScreenshot.png"/>
</main>
