@import url('../app.component.css');

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: clamp(40px, 10.5vw, 200px);

    width: clamp(255px, 77vw, 1475px);
}

.intro__text-container {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 2vw, 40px);

    width: clamp(255px, 25.25vw, 485px);
}

.title-container {
    font-family: "Montserrat";
    line-height: 1.2;
    font-size: clamp(2.25rem, 2.25vw, 4.2rem);
}

.intro__text-container__activity {
    font-family: "Barlow Condensed";
    font-size: clamp(2.6rem, 2.5vw, 4rem);
    line-height: 1.2;
}

.intro__text-container__info-button {
    font-family: "Barlow Condensed";
    font-size: clamp(2.4rem, 2.5vw, 4rem);
    
    width: clamp(255px, 17.45vw, 335px);
    height: clamp(48px, 4.3vw, 83px);

    box-sizing: border-box;
    background-color: var(--portfolio-metal);
    color: var(--portfolio-white);
    border: none;
    cursor: pointer;
}

.intro__project-screenshot {
    border: solid 4px var(--portfolio-blue);
    box-sizing: border-box;
    width: clamp(255px, 41vw, 789px);
    height: calc(clamp(255px, 41vw, 789px) / 1.77);
}

@media only screen and (max-width: 1000px) {
    .intro {
        flex-direction: column;
        align-items: center;
        gap: 36px;
    }
}