<main class="intro">
    <div class="intro__text-container">
        <div class="title-container">
            <h1>Pedro Henrique Costa</h1>
    
            <h2>Web Developer</h2>
        </div>
        
        <p class="intro__text-container__activity">Currently working on this portfolio website!</p>
        
        <form action="https://github.com/Silmunia/portfolio"  rel="noopener noreferrer" target="_blank">
            <button type="submit" class="intro__text-container__info-button">More information</button>
        </form>
    </div>
    
    <img class="intro__project-screenshot" src="https://placehold.co/789x444"/>
</main>

<router-outlet />
