@import url('../styles.css');

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 1;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    height: clamp(84px, 6.66vw, 128px);
    box-sizing: border-box;
    border-bottom: 4px solid black;
    padding: 0px clamp(20px, 12vw, 220px);
    background-color: white;
}

.nav-bar__title {
    font-family: "Montserrat";
    font-size: clamp(2rem, 2.5vw, 4.8rem);
}

.nav-bar__links {
    font-family: "Barlow Condensed";
    display: flex;
    gap: 30px;
}

.nav-bar__links__option {
    font-size: clamp(1.8rem, 2.5vw, 3.6rem);
    color: black;
    text-decoration: none;
}

.footer {
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.4rem, 1.6vw, 3rem);
    width: 100vw;
    height: clamp(42px, 4.5vw, 84px);
    box-sizing: border-box;
    border-top: 4px solid black;
}

@media only screen and (max-width: 640px) {
    .nav-bar {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}