<main class="projects">
    <h2 class="projects__title">Projects</h2>
    <div class="project-container">
        <div class="project-container__project">
            <div class="project-info">
                <h3 class="project-info__title">Poké-Memory Website</h3>
                <p class="project-info__description">Poké-Memory is a memory game made with React as part of The Odin Project's curriculum.</p>
                <form class="project-link" action="https://odincards.netlify.app/" target="_blank">
                    <button class="project-link__button" type="submit">View Demo</button>
                </form>
                <form class="project-link" action="https://github.com/Silmunia/odin-memory" target="_blank">
                    <button class="project-link__button" type="submit">Check Source</button>
                </form>
            </div>
            <img class="project-container__project__screenshot" src="../../assets/images/PokememoryScreenshot.webp" alt="Screenshot of Poké-Memory Website" type="image/webp"/>
        </div>

        <div class="project-container__project">
            <div class="project-info">
                <h3 class="project-info__title">Pomodoro Website</h3>
                <p class="project-info__description">A Pomodoro application made with Angular for personal use. </p>
                <form class="project-link" action="https://pomodorocycle.netlify.app/" target="_blank">
                    <button class="project-link__button" type="submit">View Demo</button>
                </form>
                <form class="project-link" action="https://github.com/Silmunia/pomodoro" target="_blank">
                    <button class="project-link__button" type="submit">Check Source</button>
                </form>
            </div>
            <img class="project-container__project__screenshot" src="../../assets/images/PomodoroDesktop.webp" alt="Screenshot of Pomodoro Website" type="image/webp"/>
        </div>

        <div id="current-project" class="project-container__project">
            <div class="project-info">
                <h3 class="project-info__title">Portfolio Website</h3>
                <p class="project-info__description">This very portfolio, made with Angular.</p>
                <form class="project-link" action="https://github.com/Silmunia/portfolio" target="_blank">
                    <button class="project-link__button" type="submit">Check Source</button>
                </form>
            </div>
            <img class="project-container__project__screenshot" src="../../assets/images/PortfolioScreenshot.webp" alt="Screenshot of Portfolio Website" type="image/webp"/>
        </div>
    </div>
</main>
