<main class="projects">
    <h2 class="projects__title">Projects</h2>
    <div class="project-container">
        <div class="project-container__project">
            <div class="project-info">
                <h3 class="project-info__title">Pomodoro Website</h3>
                <p class="project-info__description">A Pomodoro application made with Angular for personal use. </p>
                <form class="project-link" action="https://pomodorocycle.netlify.app/" target="_blank">
                    <button class="project-link__button" type="submit">View Demo</button>
                </form>
                <form class="project-link" action="https://github.com/Silmunia/pomodoro" target="_blank">
                    <button class="project-link__button" type="submit">Check Source</button>
                </form>
            </div>
            <img class="project-container__project__screenshot" src="../../assets/PomodoroDesktop.png" alt="Screenshot of Pomodoro Website"/>
        </div>
    </div>
</main>
