/* You can add global styles to this file, and also import other style files */
@import url('./reset.css');

@font-face {
    font-family: "Barlow Condensed";
    src: url("./assets/fonts/BarlowCondensed-Regular.ttf");
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./assets/fonts/BarlowCondensed-SemiBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Regular.ttf");
}

:root {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
}

app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

app-intro-page, app-contact-page, app-project-page {
    display: flex;
    flex: 1;
    justify-content: center;
    
    margin: clamp(20px, 6.25vw, 70px) auto;
}