@import url('../app.component.css');

.contact {
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 3.8vw, 70px);

    width: clamp(255px, 77vw, 1475px);
}

.contact__title  {
    font-family: "Montserrat";
    font-size: clamp(3.6rem, 2.5vw, 4.8rem);
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 9vw, 45px);
}

.contact-option {
    font-family: "Barlow Condensed";

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(4px, 3vw, 30px);
    width: fit-content;
    font-size: clamp(1.8rem, 2.5vw, 3.6rem);
    text-decoration: none;
}

:any-link {
    color: black;
    text-decoration: none;
}

.contact-option__icon {
    width: clamp(70px, 5.5vw, 100px);
    aspect-ratio: 1.0;
}

@media only screen and (max-width: 640px) {
    .contact {
        align-items: center;
    }
}