<main class="contact">
    <h2 class="contact__title">Contact</h2>
    <div class="contact-container">
        <a class="contact-container__element" href="https://www.linkedin.com/in/pedrophpcosta/" rel="noopener noreferer" target="_blank">
            <img class="contact-container__element__icon" src="../../assets/linkedin.png" alt="LinkedIn Icon"><p>pedrophpcosta</p>
        </a>

        <a class="contact-container__element" href="https://github.com/Silmunia" rel="noopener noreferer" target="_blank">
            <img class="contact-container__element__icon" src="../../assets/github.png" alt="Github Icon"><p>Silmunia</p>
        </a>

        <a class="contact-container__element" href="mailto:pedrophpcosta@gmail.com" rel="noopener noreferer" target="_blank">
            <img class="contact-container__element__icon" src="../../assets/email.png" alt="E-mail Icon"><p>pedrophpcosta&#8203;&#64;gmail.com</p>
        </a>
    </div>
</main>
